annotated-doc==0.0.4
argcomplete==3.6.3
brotli==1.2.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
mutagen==1.47.0
packaging==26.1
pipx==1.11.1
platformdirs==4.9.6
pycryptodomex==3.23.0
Pygments==2.20.0
requests==2.33.1
rich==15.0.0
shellingham==1.5.4
typer==0.24.1
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
websockets==16.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
ytmusicapi==1.11.5
